@model EDWars.Models.Campaign

@{
    ViewBag.Title = "Play";
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}
<div class="canvas-holder" style="text-align: center;">
    <canvas id="rendercanvas" style="width: 1024px; height: 758px; margin-left: auto; margin-right: auto;"></canvas>    
</div>

@section scripts{
<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
<script src="~/SignalR/hubs"></script>
<script>
    $(document).ready(function() {
        System.import('GameInstanceManager').then(function(moduleLoader) {
            return new moduleLoader.GameInstanceInstanceManager(@Model.id);
        });
    });
</script>
 
}