@model EDWars.Models.Campaign

@{
    ViewBag.Title = "Play";
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}
<div class="canvas-holder" style="text-align: center;">
    <canvas id="renderCanvas"></canvas>
</div>

@section scripts{
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-polyfills/0.1.34/polyfill.min.js"></script>
<script src="~/Scripts/wildflower/vendors/oimo.js"></script>
<script src="~/Scripts/wildflower/vendors/babylon.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
<script src="~/SignalR/hubs"></script>
<script type="text/javascript" src="~/Scripts/wildflower/static/bundle.js"></script>
    <script>
    var game = new Game(@Model.id , 'renderCanvas');
    $(document).ready(function () {
        game.start();
    });
    document.body.addEventListener("mousedown", function(e) {
        console.log("CLICK");
        game.input.onMouseInput(e);
    }),
        document.body.addEventListener("mousemove", function(e) {
            if (e.which === 1) {
                game.input.onMouseInput(e);
            }
        });
    window.addEventListener("keydown", function (e) {
        game.input.onKeyboardInput(e);
    });
    window.addEventListener("wheel", function(e) {
        game.input.onMouseScroll(e);
    });
    </script>

}