<section id="home" class="pfblock-image screen-height" style="background: url(../images/galaxy.jpg)">
<div class="home-overlay"></div>
<div class="intro">
    <div class="start">Elite Dangerous</div>
    <h1>Ground Wars</h1>
    <div class="start">Expanding influence through action</div>
</div>
<a id="more" href="/lobbies">
    <div class="scroll-down">
        <span>
           Play
        </span>
    </div>
</a>
</section>
<!-- Services start -->
<section id="services" class="pfblock pfblock-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="pfblock-header wow fadeInUp">
                    <h2 class="pfblock-title">ED: Ground Wars</h2>
                    <div class="pfblock-line"></div>
                    <div class="pfblock-subtitle">
                        My little project is meant purely for fun and the lure of ED universe because my laptop is not powerful enough to run it anymore :(, any suggestions, comments, please let me know.
                        Meanwhile, please check these other great sites, see you in space. Commander.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="iconbox wow slideInLeft">
                    <a href="http://www.elitedangerous.com">
                        <div class="iconbox-icon">
                            <span class="icon-magic-wand"></span>
                        </div>
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Elite Dangerous</h3>
                            <div class="iconbox-desc">
                                Visit the website for the latest information on seasons, and elite merchandise
                            </div>
                        </div>
                    </a>
                 
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow slideInLeft">
                    <a href="https://community.elitedangerous.com/">
                        <div class="iconbox-icon">
                            <span class="icon-puzzle"></span>
                        </div>
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Elite Dangerous Community</h3>
                            <div class="iconbox-desc">
                                Elite Dangerous has a thriving community, get the latest gossip and news from here
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow slideInRight">
                    <a href="http://ed-td.space/">
                        <div class="iconbox-icon">
                            <span class="icon-badge"></span>
                        </div>
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Trade Database</h3>
                            <div class="iconbox-desc">
                                Get a comprehensive low-down on the latest trades with ed-td
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow slideInRight">
                    <a href="http://www.edsm.net/">
                        <div class="iconbox-icon">
                            <span class="icon-question"></span>
                        </div>
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Star Maps</h3>
                            <div class="iconbox-desc">
                                Love to gaze at the star map of ED? 
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</section>
<!-- Services end -->

<!-- Scroll to top -->
<div class="scroll-up">
    <a id="totop" href="#home"><i class="fa fa-angle-up"></i></a>
</div>

<!-- Scroll to top end-->